*
!.gitignore

!oslab1/
oslab1/*
!oslab1/linker.cpp
!oslab1/Makefile
!oslab1/README.txt

!oslab2/
oslab2/*
!oslab2/sched.cpp
!oslab2/Makefile
!oslab2/README.txt
!lab2os/tips.txt

!oslab3/
oslab3/*
!oslab3/src/*
